@model Fakturisanje.ViewModels.EditFakturaViewModel


<h3>Detalji fakture</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Faktura.IdFakture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktura.IdFakture)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Faktura.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktura.Datum)
        </dd>
        <br />
        <dt>
            Stavke:
        </dt>

        @{ var redniBroj = 0;}

        @foreach (var it in Model.Stavka)
        {
            redniBroj += 1;
            <dd>
                @redniBroj. &nbsp;
                @Html.DisplayNameFor(model => it.NazivStavke) - @Html.DisplayFor(model => it.NazivStavke) |
                @Html.DisplayNameFor(model => it.CenaStavke) - @Html.DisplayFor(model => it.CenaStavke) |
                @Html.DisplayNameFor(model => it.kolicina) - @Html.DisplayFor(model => it.kolicina) |
            </dd>


        }
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Faktura.Ukupno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktura.Ukupno)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Faktura.Obrisana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktura.Obrisana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.Faktura.IdFakture }) |
    @Html.ActionLink("Arhiviraj", "Delete", new { id = Model.Faktura.IdFakture }) |
    @if (Model.Faktura.Obrisana == true)
    {
        @Html.ActionLink("Nazad na listu", "ArhiviraneFakture")
    }
    else
    {
        @Html.ActionLink("Nazad na listu", "Index")
    }
</p>
