@model IEnumerable<Fakturisanje.Models.Faktura>

@{
    ViewBag.Title = "Lista faktura";
}

<h2>Lista faktura</h2>

@*<p>
    @Html.ActionLink("Napravi novu", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Broj
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.IdFakture }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.IdFakture }) |
            @Html.ActionLink("Arhiviraj", "Delete", new { id=item.IdFakture })
        </td>
    </tr>
}

</table>
