@model Fakturisanje.Models.Unosi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Unosi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Faktura.IdFakture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faktura.IdFakture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stavka.NazivStavke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stavka.NazivStavke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
