@model Fakturisanje.Models.Stavka

@{
    ViewBag.Title = "Detalji";
}

<h3>Detalji</h3>

<div>
    <h4>Stavka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazivStavke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazivStavke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaStavke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaStavke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Obrisana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Obrisana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.IdStavke }) |
    @Html.ActionLink("Lista stavki", "Index")
</p>
