@model IEnumerable<Fakturisanje.Models.Stavka>

@{
    ViewBag.Title = "Lista stavki";
}

<h3>Lista stavki</h3>

<p>
    @Html.ActionLink("Kreiraj novu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NazivStavke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CenaStavke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obrisana)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazivStavke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CenaStavke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obrisana)
        </td>
        <td>
            @Html.ActionLink("Izmeni", "Edit", new { id=item.IdStavke }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.IdStavke })
        </td>
    </tr>
}

</table>
